.dashboard-container{
  display: flex;
  justify-content: center;  
  height: 100vh;
}

.dashboard-side-bar{
  width: 20%;
  max-height: 100vh;
}

.nav-main-container{
  width: 80%;
}

.side-bar-component{
  padding: 10px;
  border: groove;
  height: 21%;
}

.dashboard-nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(66, 66, 162);
}

.dash-board-profile{
  position: absolute;

}

.profile-image{
  width: 30px;
  height: 30px;
}

.single-employee-data{
  display: flex;
  justify-content: space-around;
}

.employee-add-container{
  display: flex;
  justify-content: space-between;
}

.employee-filter-container{
  display: flex;
  justify-content: end;
}

.custome-pagination{
  width: 100%;
  height: 300px;
}

.edit-delete-button-container{
  display: flex;
  justify-content: end;
  gap: 10px;
}

.profileContainer{
 display: flex;
 /* justify-content: center;  */
}