.login-root-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form{
  scale:calc(150%);
  max-width: 15%;
}
.dashboard-container{
  height: 100vh;
}
.dashboard-side-bar{
  width: 20%;
  max-height: 100vh;
  border-right-style: groove;
  border-width: 2px;
}

.nav-main-container{
  /* width: 80%; */
  overflow: hidden;
}

.side-bar-component{
  padding: 10px;
}
.sidebar-list-item{
  color: white;
}

.dashboard-nav-bar{
  display: flex;
  background-color: rgb(66, 66, 162);
  width: 100%;
  height: 100px;
}
.dashboard-root{
  margin: 20px;
}
.dash-board-profile{
  position: absolute;
}

.profile-image{
  width: 30px;
  height: 30px;
}

.single-employee-data{
  display: flex;
  /* justify-content: space-around; */
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.employee-add-container{
  display: flex;
  justify-content: flex-end;
  padding-right:20px;
  margin-top: 20px;
  gap: calc(5%);
}

.employee-filter-container{
  display: flex;
  justify-content: space-between;

}

.custome-pagination{
  width: 100%;
  height: 300px;
}

.edit-delete-button-container{
  display: flex;
  justify-content: end;
  gap: 10px;
}

.profileContainer{
 display: flex;
}
.main-container-dashboard{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85vh;
}
.dashboard-search{
  width:50%;
  padding: 10px;
  font-size: larger;
}
.employee-selectors{
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.selectors{
  padding-left: 5px;
  padding-right: 5px;
}
.employee-add-button{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}
.employee-add-button:hover{
  cursor: pointer;
}
.add-employee-text{
  font-weight: bolder;
}
.employees-detail-container{
  overflow-y: scroll;
  height: 60vh;
}
.add-data-by-employee{
 padding-top: 10px;
 padding-bottom: 10px; 
}
.add-data-by-employee:hover{
  cursor: pointer;
}
.setting-root{
  overflow-y: scroll;
  height: 80vh;
}